.one-two {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.one-two button {
  width: fit-content;
  padding: 10px;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  transition: all 0.3s;
}
.one-two button:hover {
  background-color: #e0e0e0;
}

.one-two input[type="file"] {
  display: block;
  width: fit-content;
  overflow: hidden;
  border-radius: 0.5rem; /* Adjust based on your preferred rounding */
  border: 1px solid #d1d5db; /* border-gray-300 */
  background-color: #f9fafb; /* bg-gray-50 */
  color: #111827; /* text-gray-900 */
  font-size: 0.875rem; /* text-sm */
  padding: 0.5rem; /* Added padding for better alignment */
  cursor: pointer; /* Consistent pointer for file input */
}

.one-two input[type="file"]:hover {
  outline: none; /* Remove default focus outline */
  background-color: #e5e7eb; /* Lightened background on hover */
}

.one-two input[type="file"]:focus {
  outline: none; /* Remove default focus outline */
}

.one-two input[type="file"]::-webkit-file-upload-button {
  padding: 0.5rem 1rem; /* py-2 px-4 */
  border: 1px solid #4b5563; /* border-gray-300 */
  background-color: #374151; /* bg-gray-50 */
  color: #f9fafb; /* Changed to white for better contrast */
  font-size: 0.875rem; /* text-sm */
  border-radius: 0.5rem; /* Adjust based on your preferred rounding */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth hover transitions */
}

.one-two input[type="file"]::-webkit-file-upload-button:hover {
  background-color: #4b5563; /* Darker background on hover */
  color: #ffffff; /* White text on hover */
}

.one-two input[type="file"]::-webkit-file-upload-button:focus {
  outline: none; /* Remove default focus outline */
}
